<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: header">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div>
    <div id='calendar'></div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const calendarEl = document.getElementById('calendar');
    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      eventClick: (info) => {
        console.log(info);
      }
    });
    calendar.render();

  });

</script>
</body>
</html>